{% extends "base.html" %}
{% block content %}
<div class="row typo">
    <div class="col-md-8 col-md-offset-2">
        <br />
        <style type="text/css">
            .table-striped tbody tr:nth-child(odd) td,
            .table-striped tbody tr:nth-child(odd) th {
                background-color: #ffffff;
            }
        </style>

        <!-- 页面内容 -->
        <div class="well typo post post-index">
            <div>
                <img src="/static/image/zhihu.png" width="300" height="300" />
                <h2>
                    关于本站
                </h2>
                <p class="about" style="margin-left:2em; text-indent:0;">
                    挖掘知乎有趣的东西，这个网站计划从不同的角度入手，分析知乎上的公开数据，进行一些数据分析和可视化的处理。<br />
                    用程序和一些简单的统计往往可以发现一些意外的结论，从而让我们更好地理解和利用知乎。
                </p>
                <p class="about">
                    下面的表格会列举出目前为止有想法、已经做了的和已经开放源代码的项目及其源代码链接。如果大家有兴趣帮助进行测试或开发，欢迎与我联系，<a href="https://www.zhihu.com/people/ihamsterball">知乎</a>
                </p>
                <p class="about">
                    由<a href="https://nginx.org/">nginx</a>和<a href="https://www.djangoproject.com/">Django</a>驱动
                </p>
                <h2>
                    版权
                </h2>
                <p class="about">
                    所有本网站涉及到的代码均开源，释放时间不确定但是肯定会在安全性问题都解决了之后放出。允许任何形式的复制以及以此为基础的创作，但是不允许用于商业用途。
                </p>
                <h2>
                    项目Github地址
                </h2>
                <table class="table table-striped table-hover table-bordered" id="about-me">
                    <tbody>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-toggle-on"></i> <span>知乎用户动态统计</span></td>
                            <td class="col-md-2"><a href="#">暂未释放</a></td>
                        </tr>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-toggle-on"></i> <span>知乎用户头像获取</span></td>
                            <td class="col-md-2"><a href="#">暂未释放</a> </td>
                        </tr>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-toggle-off"></i> <span>待定</span></td>
                            <td class="col-md-2"><a href="#">暂无计划</a> </td>
                        </tr>
                        <tr>
                            <td class="col-md-2"><i class="fa fa-toggle-off"></i> <span>待定</span></td>
                            <td class="col-md-2"><a href="#">暂无计划</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}