{% extends "base.html" %}
{% block additional_css %}
{% load staticfiles %}
<link href="/static/css/zhihu.css" rel="stylesheet">
{% endblock %}
{% block additional_js %}
<script language="javascript" type="text/jscript" src="/static/js/jquery.form.js"></script>
{% endblock %}
{% block content %}
<div class="row typo">
    <div class="col-md-8 col-md-offset-2">
        <!-- 页面内容 -->
        <div class="well typo post post-index">
            <h2 class="title">
                知乎用户头像图片获取
            </h2>
            <div class="post_info">
                <div class="post_info">
                    <ul class="tag_box inline list-inline">
                        <li>本页创建于</li>
                        <li><i class="fa fa-calendar"></i></li>
                        <li id="post-date"> 2016 年 07 月 25 日</li>
                    </ul>
                </div>
            </div>
            <h3>项目介绍</h3>
            <div class="archive">
                此项目很简单，如果对于 Web 开发者来说几乎就是开一个 F12 开发者工具的事情。当然，顺手做一下也还是好的。<br />
                如果你有兴趣提供协助，欢迎来测试或帮助编写程序。
            </div>
            <h3>使用说明</h3>
            <div class="archive">
                在文本框中输入知乎用户名，例如<code>http://www.zhihu.com/people/ihamsterball</code>中的<code>ihamsterball</code>，之后即可获取头像图片的原图并显示在下方。
            </div>
            <hr />
            <div class="form-wrapper">
                <form id="id_form">
                    <div class="input-wrapper">
                        请输入你的用户名：
                        <input id="user_id" type="text" placeholder="用户名" autocorrect="off" spellcheck="false" autocapitalize="off">
                        <button id="id_submit" class="submit-button has-spinner" type="button"><div id="id_submit_text" class="submit-button-text" nowrap>提交</div><span class="spinner"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></span></button>
                        <span id="msg"></span>
                    </div>
                </form>
            </div>
            <div style="text-align: center;">
                <div id="image-wrapper" class="image-wrapper">
                    <img class="image" src="/static/image/zhihu.png" id="avatar" />
                </div>
                <div id="spinner-wrapper" class="has-spinner">
                    <span id="spinner" class="spinner" style="color: #fff; z-index: 99; position: relative; margin-right: 2em;"><i class="fa fa-spinner fa-pulse fa-4x fa-fw"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript">
    document.onkeydown = function (e) {
        var theEvent = window.event || e;
        var code = theEvent.keyCode || theEvent.which;
        if (code == 13) {
            $("#id_submit").click();
            return false;
        }
    }

    $(document).ready(function () {
        $("#id_submit").click(function () {
            $("#id_submit_text").text("正在处理")
            $("#id_submit").toggleClass('active')
            document.getElementById("msg").innerHTML = '';
            document.getElementById('spinner').style.top = "-" + ($("#avatar").height() + $("#spinner").height()) / 2 + "px"
            $("#image-wrapper").toggleClass('active')
            $("#spinner-wrapper").toggleClass('active')
            var user_id = $("#user_id").val();
            $("#id_form").ajaxSubmit({
                type: "post",  //提交方式
                dataType: "text", //数据类型
                url: "/avatar_handler/", //请求url
                data: {
                    'userid': user_id
                },
                success: function (data) { //提交成功的回调函数
                    $("#id_submit_text").text("提交")
                    $("#id_submit").removeClass('active')
                    var json = eval("(" + data + ")")

                    // 判断是否有错误信息
                    if (json['msg'] != '') {
                        document.getElementById("msg").innerHTML = json['msg'];
                        $("#image-wrapper").removeClass('active')
                        $("#spinner-wrapper").removeClass('active')
                        return;
                    }
                    document.getElementById("avatar").src = json['src']
                },
                error: function (data) {
                    $("#id_submit_text").text("提交")
                    $("#id_submit").removeClass('active')
                    $("#image-wrapper").removeClass('active')
                    $("#spinner-wrapper").removeClass('active')
                    document.getElementById("msg").innerHTML = "等待超时或内部服务器错误";
                }
            });
            return false; //不刷新页面
        });
    });
    avatar.onload = function () {
        $("#image-wrapper").removeClass('active')
        $("#spinner-wrapper").removeClass('active')
    }
</script>
{% endblock %}